a
{
	text-decoration: none;
}

#sitelogo
{
	float: left;
}

#sitecaption
{
	font-size: 3em;
	padding-left: 2em;
	margin: 0 0 0 2em;
	padding-top: 0.7ex;
	text-transform: uppercase;
}

#page
{
	clear: both;
	position: relative;
	_height: 1px;
}

#menu
{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	_height: 1px;
}

#contents
{
	margin-left: 160px;
}

#footer
{
	margin-top: 5em;
	clear: both;
	font-size: xx-small;
	font-style: italic;
	color: gray;
	width: 100%;
	padding-top: 0.3em;
	border-top: 1px dotted gray;
}

img
{
	border: 0 none;
}

.infomsg
{
	clear: both;
}

.errmsg
{
	clear: both;
	color: #700;
	font-weight: bold;
	margin-bottom: 1em;
}

div.formblock
{
	margin-top: 1em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	border-left: 1px dotted #ccf;
}

input.formblockchooser
{
	margin-left: -1.5em;
}

br.cleaner
{
	height: 0px;
	clear: both;
}

td.number
{
	text-align: right;
}

div.calendar
{
	width: 30em;
	/* Workaround for a Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=14984 */
	float: left;
	_float: none;
}

caption
{
	font-size: large;
	font-weight: bold;
}

table.calendar
{
	/* border: 1px solid black; */
	width: 100%;
}

table.calendar td
{
	margin: 5px;
	border: 1px dotted black;
	vertical-align: top;
}

table.calendar td div.addevent
{
	float: right;
	font-size: x-small;
}

table.calendar td.holiday
{
	border: 2px solid #fdf;
}

table.calendar td.past
{
	border: 1px dotted gray;
	background-color: #eee;
}

table.calendar td.today
{
	border: 1px solid blue;
	background-color: #eef;
}

table.calendar td.selected
{
	border: 1px solid blue;
}

table.calendar td.future span.date
{
	font-weight: bold;
}

table.calendar td.future div.event-empty
{
	background-color: #ffb;
}

table.calendar td.future div.event-filled
{
	background-color: #dfd;
}

table.calendar td.future div.event-full
{
	background-color: #fee;
}

table.calendar td.future div.event-overfilled
{
	background-color: #fdd;
}

td.future a.event-detail
{
	color: blue;
}

td.past a.event-detail
{
	color: #339;
}

div.calendar div.linknext
{
	float: right;
	font-size: small;
}

div.calendar div.linkprev
{
	float: left;
	font-size: small;
}

div.eventdetail
{
	float: right;
	width: 15em;
	margin: 10px;
	padding: 10px;
	border: 1px solid #55a;
	background-color: #f3f3ff;
}

div.eventdetail h2
{
	font-size: x-large;
	font-weight: bold;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #55a;
	width: 100%;
}

div.eventdetail div.eventdescription
{
	margin-bottom: 1em;
}

div.eventdetail div.editlink
{
	float: right;
	font-size: x-small;
}

div.eventdetail div.parserhelpinfo
{
	float: right;
	width: 80px;
}

div.eventdetail ul.subscribers
{
	margin: 0 0 10px 0;
	padding: 0;
}

div.eventdetail ul.subscribers li
{
	list-style-type: none;
}

div.eventdetail ul.subscribers li.subscriber-ok
{
/*
	margin-left: -6px;
	padding-left: 4px;
	border-left: 2px solid green;
*/
}

div.eventdetail ul.subscribers li.subscriber-over
{
	margin-left: -6px;
	padding-left: 4px;
	border-left: 2px solid red;
}

div.eventdetail ul.subscribers li.priority-20
{
	color: #040;
}

div.eventdetail ul.subscribers li.priority-10
{
	color: #030;
}

div.eventdetail ul.subscribers li.priority--20
{
	color: #400;
}

div.eventdetail ul.subscribers li.priority-10
{
	color: #300;
}

div.eventdetail ul.subscribers li.subscriber-over span.guests
{
	color: red;
}

div.eventdetail form
{
	margin: 0;
}

div.eventdetail input.guests
{
	width: 2em;
}

p.nosubscribers
{
	font-style: italic;
	margin: 1em 0;
}

div.bottomform
{
	clear: both;
	margin: 1em 0;
	border-top: 1px solid black;
}

div.eventtypeslist
{
	margin-top: 1em
}

table.eventtypesoverview
{
	border: 1px solid black;
}

table.eventtypesoverview td
{
	margin: 5px;
	border-top: 1px dotted black;
}

table.eventtypesoverview
{
	border: 1px solid black;
}

div.userslist
{
	margin-top: 1em;
}

table.usersoverview td
{
	margin: 5px;
	border-top: 1px dotted black;
}

table.usersoverview td
{
	margin: 5px;
	border-top: 1px dotted black;
}

div.eventlist ul div
{
	padding-left: 3px;
}

div.eventlist ul div.event-empty
{
	border-left: 0.5em solid #ffb;
}

div.eventlist ul div.event-filled
{
	border-left: 0.5em solid #dfd;
}

div.eventlist ul div.event-full
{
	border-left: 0.5em solid #fee;
}

div.eventlist ul div.event-overfilled
{
	border-left: 0.5em solid #fdd;
}
