<?php

$sepsBaseUri = 'http://localhost/seps/';
$sepsFullBaseUri = "${sepsBaseUri}index.php";
$sepsTitle = 'Volejbal';
$sepsSiteLogo = 'img/logo.png';

$sepsDbServer = '127.0.0.1';
$sepsDbUser = 'root';
$sepsDbPassword = 'heslo';
$sepsDbDatabase = 'seps';

$sepsAdminMail = 'petrk@alsoft.cz';

$sepsShowIcqStatus = false;
$sepsCountry = 'CZ';
